html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}



.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    background-image: url('/img/background.jpg'); /* apna image path yahan daalein */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;
}

.register-btn {
    text-align: center;
    width: 100%;
    background-color: #2c4da3;
    border: none;
    border-radius: 20px;
    margin-top: 20px;
}

    .register-btn:hover {
        background-color: orange;
        transition: 0.5s ease;
        color: #000;
    }

.logo {
    border: none;
    border-radius: 10px;
}

    .logo img {
        width: 140px;
        height: 50px;
        margin-left: 100px;
    }

.head-btn {
    margin-right: 100px;
    text-align: center;
}

.home-btn {
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    background-color: #2c4da3;
    width: 200px;
}
/*.home-btn:hover{
    background-color:#2c4da3;
    transition:0.5s ease;
}*/
.privacy-btn {
    border: none;
    border-radius: 5px;
    margin-left: 10px;
    margin-right: 20px;
    background-color: orange;
    width: 200px;
}
/*.privacy-btn:hover {
    background-color: orange;
    transition: 0.5s ease;
}*/
.sticky-header {
    position: sticky;
    top: 0;
    z-index: 1030; /* navbar ke upar rahe */
    /*    background-color: white;*/
    background: rgba(255, 255, 255, 0.2); /* thoda transparent white */
    backdrop-filter: blur(10px);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
}

.blur-card {
    background: rgba(255, 255, 255, 0.2); /* thoda transparent white */
    backdrop-filter: blur(10px); /* blur effect */
    -webkit-backdrop-filter: blur(10px); /* Safari support */
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 2);
    color: #000;
}

    .blur-card input,
    .blur-card select,
    .blur-card textarea {
        background-color: rgba(255, 255, 255, 0.2); /* Transparent background */
        border: 1px solid rgba(255, 255, 255, 0.3); /* Light border */
        color: #000;
        backdrop-filter: blur(8px);
        -webkit-backdrop-filter: blur(8px);
        border-radius: 8px;
    }

        .blur-card input::placeholder,
        .blur-card select option {
            /*    color: rgba(255, 255, 255, 0.8);  */
            color: black;
        }

    .blur-card label {
        color: black; /* Label color white */
    }

.my-footer a {
    text-decoration: none;
    color: #2c4da3;
}

.my-footer {
    background-color: white;
    background: rgba(255, 255, 255, 0.2); /* thoda transparent white */
    backdrop-filter: blur(10px); /* blur effect */
    border: none;
}

.login-btn a {
    text-decoration: none;
    color: #2c4da3;
}

.login-btn-login {
    text-align: center;
    width: 70%;
    background-color: #2c4da3;
    border: none;
    border-radius: 20px;
    margin-top: 20px;
    margin: 0 10px 0 10px;
}

    .login-btn-login:hover {
        background-color: orange;
        transition: 0.5s ease;
        color: #000;
    }

/*img{
    height:400px;
    width:400px;
}*/
/*.blur-card-body {
    background: rgba(255, 255, 255, 0.2);*/ /* transparent white */
/*backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);*/ /* Safari support */
/*border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    padding: 1rem;
    color: #000;
}*/

/* Optional: dark text if background image is dark */
.card-title, .card-text {
    font-weight: bold;
}

.hero-section {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.carousel-item img {
    height: 100vh;
    width: 100%;
    object-fit: cover;
    filter: brightness(0.6); /* darken for text visibility */
}

.hero-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    z-index: 10;
}

    .hero-content h1 {
        font-size: 3rem;
        font-weight: bold;
        text-shadow: 2px 2px 4px rgba(0,0,0,0.7);
    }

.search-btn{
    justify-content:center;
    width:100px;
}


.card-img-top1 {
    transition: transform 0.3s ease; /* Smooth transition for scale */
    cursor:pointer;
}

.card-img-top1:hover {
    transform: scale(1.1); /* Expand image when hovered */
}

.side-bar {
    margin: 1rem;
    height: 4rem;
    width: 4rem;
    display: flex;
    border-radius: 50%;
    border: none;
    background-color:orange;
}

.side-p {
    position: fixed;
    display: inline-table;
    top: 30%;
    left: -40px;
    height: 18rem;
    margin-left: 50px;
    padding: 20px;
    justify-content: space-between;
    flex-direction: column;
    margin-left: 50px;
    align-items: center;
    gap: 1rem;
    z-index: 1000;
}

.icon {
    padding-left: 10px;
}

.side-book {
    background-image: image-set("https://www.apollohospitals.com/sites/default/files/2025-02/Doctor_2.png" );
    background-size: 40px 40px;
    background-repeat: no-repeat;
    background-position: center;
    font-size: 0;
}

    .side-book:hover {
        width: auto;
        padding: 0 2rem 0 2rem;
        border-radius: 50px;
        background-image: none;
        background-color: #2c4da3;
        color: white;
        font-size: 20px;
        text-align: center;
        justify-content: center;
        align-items: center;
        transition: 0.3s all ease-in-out;
        cursor: pointer;
    }

.side-find {
    background-image: image-set("https://www.apollohospitals.com/sites/default/files/2025-01/hospitals.png" );
    background-size: 40px 40px;
    background-repeat: no-repeat;
    background-position: center;
    font-size: 0;
}

    .side-find:hover {
        width: auto;
        padding: 0 2rem 0 2rem;
        border-radius: 50px;
        background-image: none;
        background-color: #2c4da3;
        color: white;
        font-size: 20px;
        text-align: center;
        justify-content: center;
        align-items: center;
        transition: 0.3s all ease-in-out;
        cursor: pointer;
    }

.side-checkup {
    background-image: image-set("https://www.apollohospitals.com/sites/default/files/2025-02/health-checkup--64x64-.png" );
    background-size: 40px 40px;
    background-repeat: no-repeat;
    background-position: center;
    font-size: 0;
}

    .side-checkup:hover {
        width: auto;
        padding: 0 2rem 0 2rem;
        border-radius: 50px;
        background-image: none;
        background-color: #2c4da3;
        color:white;
        font-size: 20px;
        text-align: center;
        justify-content: center;
        align-items: center;
        transition: 0.3s all ease-in-out;
        cursor: pointer;
    }

.side-expert {
    background-image: image-set("https://www.apollohospitals.com/sites/default/files/2025-01/icon-dev-3.png" );
    background-size: 40px 40px;
    background-repeat: no-repeat;
    background-position: center;
    font-size: 0;
}

    .side-expert:hover {
        width: auto;
        padding: 0 2rem 0 2rem;
        border-radius: 50px;
        background-image: none;
        background-color: #2c4da3;
        color:white;
        font-size: 20px;
        text-align: center;
        justify-content: center;
        align-items: center;
        transition: 0.3s all ease-in-out;
        cursor: pointer;
    }